html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color:bisque
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Jacquarda Bastarda 9", serif;
}

p,
li,
a {
  font-size: 23px;
  line-height: 1.5;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: darkcyan;
  text-shadow:3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.done {
  color: darkseagreen;
  text-decoration: line-trough solid black 2px;
}
